In [1]:
import pandas as pd
import os
os.environ['R_HOME'] = r'C:\Users\jtarb\anaconda3\envs\BNLEARN\Lib\R'
os.environ['R_PATH'] = r'C:\Users\jtarb\anaconda3\envs\BNLEARN\Lib\R\bin\x64'
import rpy2
import rpy2.robjects as ro

from rpy2.robjects import r
from rpy2.robjects import pandas2ri
from rpy2.robjects.conversion import localconverter
from rpy2.robjects.packages import importr

bn = importr('bnlearn')

In [2]:
df_py = pd.read_csv('dataset_a.csv', sep=';', error_bad_lines=False)

In [3]:
with localconverter(ro.default_converter + pandas2ri.converter):
  df_r = ro.conversion.py2rpy(df_py)

df_r
      


#r.assign('df_R', pandas2ri.py2ri(df_Py))

#Learn the structure of a Bayesian network using a hill-climbing
#ro.r['dag = hc(r_from_pd_df)']

#r('dag = hc(r_from_pd_df, whitelist = c("programa", "estado")')
#dag = ro.r['dag']

<rpy2.robjects.vectors.DataFrame object at 0x000002140E7DB700> [RTYPES.VECSXP]
R classes: ('data.frame',)
[IntSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe..., ..., FloatSexp..., FloatSexp..., FloatSexp..., StrSexpVe...]
  rut: <class 'rpy2.robjects.vectors.IntVector'>
  <rpy2.robjects.vectors.IntVector object at 0x000002140D166E00> [RTYPES.INTSXP]
R classes: ('integer',)
[5, 7, 16, 44, ..., 161, 389, 406, 466]
  usuario: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x000002140E7D17C0> [RTYPES.STRSXP]
R classes: ('character',)
['*', '*', '*', '*', ..., '*', '*', '*', '*']
  correo: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x000002140E239DC0> [RTYPES.STRSXP]
R classes: ('character',)
['*', '*', '*', '*', ..., '*', '*', '*', '*']
  nombre: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x000002140DB1A940> [RTYPES.STRSXP]
R classes: ('character',)
['*', '*', '*', '*', ..., '*', '*', '*', '*']
...
  i1: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x000002140DD95580> [RTYPES.REALSXP]
R classes: ('numeric',)
[1.000000, 1.000000, 1.000000, 1.000000, ..., 6.950000, 6.980000, 7.000000, 6.960000]
  f1: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x000002140E2335C0> [RTYPES.REALSXP]
R classes: ('numeric',)
[1.000000, 1.000000, 1.000000, 1.000000, ..., 7.000000, 7.000000, 7.000000, 7.000000]
  t1: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x000002140DB1BEC0> [RTYPES.REALSXP]
R classes: ('numeric',)
[1.000000, 1.000000, 1.000000, 1.000000, ..., 7.000000, 7.000000, 7.000000, 7.000000]
  r1: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x000002140DB1B3C0> [RTYPES.STRSXP]
R classes: ('character',)
['R', 'R', 'R', 'R', ..., 'A', 'A', 'A', 'A']

In [5]:
dag = bn.hc(df_r, score = 'bic')

R[write to console]: Error in check.data(x) : the data set contains NaN/NA values.

RRuntimeError: Error in check.data(x) : the data set contains NaN/NA values.